version: 2
jobs:
  build:
    docker:
      - image: trussworks/circleci-docker-primary:5ca2def958c1a6abbb6ac7668c13ecee5b4598e1
    steps:
      - checkout
      - restore_cache:
          keys:
            - pre-commit-dot-cache-{{ checksum ".pre-commit-config.yaml" }}
            - pre-commit-dot-cache
      - run:
          name: Run pre-commit tests
          command: pre-commit run --all-files
      - save_cache:
          key: pre-commit-dot-cache-{{ checksum ".pre-commit-config.yaml" }}
          paths:
            - ~/.cache
